<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <!-- SEARCH FORM -->
          <div class="col-md-4 col-md-pull-7">
            <div class="booking-form">

              <form action="<%= concert_halls_path %>">
                <div class="form-group">
                  <span class="form-label">Your Destination</span>
                  <input name="location" class="form-control" type="text" placeholder="Enter a city">
                </div>

                <!-- <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <span class="form-label">Check In</span>
                      <input class="form-control" type="date" required>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <span class="form-label">Check out</span>
                      <input class="form-control" type="date" required>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <span class="form-label">Style</span>
                      <select name="styles" class="form-control">
                        <option></option>
                        <option>Rock</option>
                        <option>Forró</option>
                        <option>MPB</option>
                        <option>Funk</option>
                        <option>Jazz</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <!-- BUTTON  -->
                <div class="form-btn">
                  <h5><%= submit_tag "Search", class: 'submit-btn' %></h5>

                </div>
              </form>
         </div>
          </div>

         <!-- DESCRIPTION -->
          <div class="col-md-7 col-md-push-5">
            <div class="booking-cta">
              <h1>Book your concert hall !</h1>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
