<h1>RESERVATIONS FOR <%= @concert_hall.name %></h1>

<% if @reservations.nil? %>
  <p> Your reservation do not exist</p>

<% else %>
  <% @reservations.each do |reservation| %>
    <p>Reserved from <%= reservation.start_date.strftime('%d/%m/%Y %H:%M') %> to <%= reservation.end_date.strftime('%d/%m/%Y %H:%M') %></p>
  <% end %>
<% end  %>



<%= link_to "Back to #{@concert_hall.name}", concert_hall_path(@concert_hall) %>
