<% @concert_halls.each do |concert_hall| %>
 <p><strong><%= concert_hall.name %></strong></p>
 <p>Location: <%= concert_hall.location %></p>
 <p>Style(s): <%= concert_hall.styles %></p>
 <p>Capacity: <%= concert_hall.capacity %></p>
<% end %>

