    <% if policy(ConcertHall).create? %>
      <p><%= link_to "Add Concert Hall", new_concert_hall_path %></p>
    <% end %>

<class class="flexbox">
  <!-- CARDS -->
  <div class="cards">
    <% @concert_halls.each do |concert_hall| %>
      <div>
        <p> <%= link_to concert_hall.name, concert_hall_path(concert_hall) %></p>
        <img src="<%= image_path("viashow.jpg") %>" alt="">
      </div>
    <% end %>
  </div>

  <!-- MAP -->
  <div>
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiZnJvbnRlbmRiZWFzdCIsImEiOiJjazZjamozcmowNGR2M21wY2xydnB6NG10In0.viSmjm4RBobk0IQ3NlDd1w'>
  </div>
</class>
