    <% if policy(ConcertHall).create? %>
      <p><%= link_to "+ Add Concert Hall", new_concert_hall_path, :class => "btn btn-outline-primary" %></p>
    <% end %>

<class class="index-and-map">
  <!-- CARDS -->
  <div class="cards">
    <% @concert_halls.each do |concert_hall| %>
      <div class='single-card'>
      <!-- <div class="img"><img src="https://a2.muscache.com/im/pictures/6152848/b04eddeb_original.jpg?aki_policy=x_medium"> -->
          <div class="description">
            <div class='hall-name'>
              <p> <%= link_to concert_hall.name, concert_hall_path(concert_hall)%></p>
            </div>
            <div class='hall-price'>
              <div class="price-stamp">R$ <%= concert_hall.price %></div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

  <!-- MAP -->
  <div id= "map">
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiZnJvbnRlbmRiZWFzdCIsImEiOiJjazZjamozcmowNGR2M21wY2xydnB6NG10In0.viSmjm4RBobk0IQ3NlDd1w'>
  </div>
</class>



