<h1>Concert Halls</h1>
<div class='cards'>
  <% @concert_halls.each do |concert_hall| %>
    <%= render 'shared/card', concert_hall: concert_hall %>
  <% end %>
</div>
<% if policy(ConcertHall).create? %>
  <p><%= link_to "Add Concert Hall", new_concert_hall_path %></p>
<% end %>
