<% if policy(ConcertHall).create? %>
  <p><%= link_to "+ Add Concert Hall", new_concert_hall_path, :class => "btn btn-outline-primary" %></p>
<% end %>

<class class="index-and-map">
  <!-- CARDS -->
  <div class="cards">
    <%= render 'single_card' %>
  </div>
  <!-- MAP -->
  <div
    id="map"
    style="width: 40%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</class>



