.btn-outline-primary {
margin: 22px 36px 0;
}

.buttons {
margin: 3px 3px;
width: max-content;
}

// .add-concert {
// color: white;
// background-color: black;
// margin: 0px 0px 16px;
// padding: 11px 64px;
// text-decoration: none;
// }

.btn-add-concert {
padding: 20px;
}
