.btn-outline-primary {
margin: 22px 36px 0;
}

.buttons {
margin: 3px 3px;
width: max-content;
}

.btn {
    background-color: blue;
    border: none;
    border-radius: 20px ;
}

.btn-add-concert {
padding: 20px;
}

