.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin: 3px;
  margin-top: 15px;
}

.cards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;
flex-grow: 1;
}

.cards img {
  max-width:50%;
  max-height:50%;
}
