// INDEX#CONCERTHALL //
.cards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
flex-grow: 1;
grid-gap: 16px;
padding: 0px 10px;
}

.cards-display {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
flex-grow: 1;
grid-gap: 16px;
padding: 0px 10px;
}

.description .hall-name a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: medium;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.img:last-child {
  margin-right: 0;
}
img {max-width:100%;}

.price-stamp{
  // margin: -200px 0 0 12px;
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  text-shadow: 0 0 6px #615e61;
  margin-top: -25px;
}
.description{
  // margin: 180px 0 0 0;
  font-size: 14px;
  color: #484848;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hall-price {
  float: right;
}

.single-card {
  background-size: cover;
  background-position: center;
  height: 40vh;
  max-width: 100%;
  max-height: 40vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.single-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.22);
}

.popup-card {
  padding: 12px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.popup-card a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.popup-card a:hover {
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.popup-card p {
  margin-top: 4px;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

//////////////////////////////////////////////////////////////////////////////
// PROFILE //
.layout {
background-image: url("https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
height: 412px;
    background-position: 25% 83%;
  }

.profile {
}

.profile-card {
padding: 28px;
width: 614px;
margin: -229px auto 7%;
text-align: -webkit-center;
height: 100%;
background-color: white;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);
box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);
}

p {
margin-bottom: 2rem;
}

///////////////////////////////////////////////////////////////////////////
// NEW#CONCERTHALL
///////////////////////////////////////////////////////////////////////////

.card-new-concerthall {
  padding: 40px;
width: 75%;
margin: 9% auto 7%;
text-align: -webkit-left;
height: 100%;
background-color: white;
border-radius: 8px;
-webkit-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);
box-shadow: 0px 0px 39px 2px rgba(0,0,0,0.31);

}

.form-control-file {
    margin-left: 50px;
}


.description-new {
  text-align: -webkit-center;
}

.title-ch {
  text-align:center;
  font-weight:bold;
  padding: 10px;
}

.center-card {
text-align: center;
}

.feature-ch {
text-align: center;
margin: auto;
width: 900px;
}

.options-ch {
padding: 20px;
text-align: center;
}

